
.table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

table {
    font-family: var(--table-font);
    border-collapse: collapse;
    margin: 20px;
    overflow-x:auto;

}
td, th {
    border: 1px solid var(--dutch-white-color);
    padding: 8px;
}

@media only screen and (max-width: 840px) {
    .table {
        display: block;
    }
    .table table, 
    .table thead, 
    .table tbody, 
    .table th, 
    .table td, 
    .table tr { 
        display: block; 
    }
    
    .table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .table tr { 
        border: 1px solid var(--dutch-white-color);
        margin-bottom: 10px;
    }
    
    .table td { 
        border: none;
        border-bottom: 1px solid rgb(137, 194, 217, .25); 
        position: relative;
        padding-left: 65%; 
        min-height: 30px;
        text-wrap: wrap;
    }
    
    .table td:before { 
        position: absolute;
        left: 12px;
        width: 60%; 
        padding-right: 10px;
        font-weight: bold;
        content: attr(data-label);
    }

}

@media only screen and (max-width: 500px) {
    .table td {
        min-height: 50px;
        font-size: 0.9em;
        text-align: center;
    }
    .table td:before { 
        font-size: 0.9em;
        text-align: left;
    }
}